<%- include('partials/header') %>
<h1><%= title %></h1>
<ul>
  <% category_list.forEach(function(category) { %>
    <li>
      <a href=<%= category.url %>>
        <%= category.name %>
      </a>
    </li>
  <% }); %>
</ul>
<%- include('partials/footer') %>
