<%- include('partials/header') %>
<h1><%= title %></h1>

<form method="POST" action="/catalog/category/<%= category._id %>/delete">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" class="form-control" type="text" placeholder="Name of category" name="name" required value="<%= category && category.name ? category.name : '' %>">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" class="form-control" placeholder="Description" name="description" required><%= category && category.description ? category.description : '' %></textarea>
  </div>
  <div class="form-group">
    <input class="form-control" type="hidden" name="categoryid" value="<%= category._id %>">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

<% if (errors && errors.length > 0) { %>
  <ul>
    <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<%- include('partials/footer') %>
