<%- include('partials/header') %>
<h1><%= title %></h1>

<form method="POST" action="/catalog/item/<%= item._id %>/update">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" class="form-control" type="text" placeholder="Name of item" name="name" required value="<%= item && item.name ? item.name : '' %>">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" class="form-control" placeholder="Description" name="description" required><%= item && item.description ? item.description : '' %></textarea>
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input id="price" class="form-control" type="text" placeholder="Price" name="price" required value="<%= item && item.price ? item.price : '' %>">
  </div>
  <div class="form-group">
    <label for="num_in_stock">Number in stock:</label>
    <input id="num_in_stock" class="form-control" type="text" placeholder="Number in stock" name="num_in_stock" required value="<%= item && item.num_in_stock ? item.num_in_stock : '' %>">
  </div>
  <div class="form-group">
    <label>Category:</label>
    <div>
      <% categories.forEach(function(category) { %>
        <div style="display: inline; padding-right: 10px;">
          <input class="checkbox-input" type="checkbox" name="category" id="<%= category._id %>" value="<%= category._id %>" <%= category.checked ? 'checked' : '' %>>
          <label for="<%= category._id %>">&nbsp;<%= category.name %></label>
        </div>
      <% }) %>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<% if (errors && errors.length > 0) { %>
  <ul>
    <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<%- include('partials/footer') %>
