<%- include('partials/header') %>
<h1><%= title %></h1>
<ul>
  <li>
      Name: <%= item.name %>
  </li>
  <li>
    Description: <%= item.description %>
  </li>
  <li>
    Category:
    <a href=<%= category.url %>>
      <%= category.name %>
    </a>
  </li>
  <li>
    Price: $<%= item.price %>
  </li>
  <li>
    Number in stock: <%= item.num_in_stock %>
  </li>
</ul>
<p>
  <a href="<%=item.url%>/delete">Delete item</a>
</p>
<p>
  <a href="<%=item.url%>/update">Update item</a>
</p>
<%- include('partials/footer') %>
